.not-found {
  display: flex;
  min-block-size: 100%;

  a {
    color: var(--color-primary);
  }

  .container {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    flex-wrap: wrap;

    margin: 3rem auto;

    .image {
      display: block;
      margin: 0 auto;
    }

    .status-code {
      text-align: center;
      font-size: var(--fz-800);
      font-weight: 300;

      line-height: 0.8;
    }

    h1 {
      margin-block-end: 1rem;

      font-size: var(--fz-600);
    }

    p {
      max-inline-size: 40ch;
    }
  }
}
